In [10]:

# -- Python Techncial Assessment

# -- ::: Define and call a function to check IP Address validity. Function should return "valid" or "not valid"

# -- Valid IP Address requirements:
# -- 1. 4 integers seperated by a period (x.x.x.x)
# -- 2. 1st Integer can have a range (1-127)
# -- 3. 2nd, 3rd, and 4th integers can have a range of (0-255)

# --  isvalid('0.200.154.132') # Not Valid
# --  isvalid('1.136.255.0') # Valid
# --  isvalid('23.35.123.243.123') # Not Valid
# --  isvalid('5.1A3.196.145') # Not Valid
# --  isvalid('2.103.196.') # Not Valid

# -- Hint: Can be accomplished using .split() function, if statements, and try and except statement


def isvalid(IP):
    try:
        ip_list = IP.split(".")
        
        if len(ip_list) == 4:
            if int(ip_list[0]) >= 1 and int(ip_list[0]) <= 127:
                "1.Valid"
                if int(ip_list[1]) >= 0 and int(ip_list[1]) <= 255:
                    if int(ip_list[2]) >= 0 and int(ip_list[2]) <= 255:
                        if int(ip_list[3]) >= 0 and int(ip_list[3]) <= 255:
                            print("IP is Valid")
                        else:
                            print("IP is Not valid")
                    else:
                        print("IP is Not valid")
                else:
                    print("IP is Not valid")
            else:
                print("IP is Not valid")
        else:
            print("IP is Not valid")

    except ValueError:
        print("IP is Not valid")


isvalid('0.200.154.132')
isvalid('1.136.255.0')
isvalid('5.1A3.196.145')
isvalid('23.35.123.243.123')
isvalid('2.103.196.')

IP is Not valid
IP is Valid
IP is Not valid
IP is Not valid
IP is Not valid

In [12]:

# -- SQL General Questions

# -- -------------------------------------------------------------------------------------------------------
# -- SQL Technical Assessment

# -- Assessment # 1

# -- We have 3 tables relating students and their course and enrollment information

# -- student: contains student id and name
# -- course: contains course description
# -- enrollment: contains student enrollment in courses

# -- Question 1: Write a query to display student id, student name, enroll semester, and course name.
# -- Question 2: Write a query to display the number of students enrolled in each course per semester.

#  select s.id,s.name, e.semester,c.cname from student s Inner join course c inner join enrollment e;
#  select * from course;

# select * from enrollment;



# select student.student_id, student_name, course_name, semester 
# from student inner join enrollment on student.student_id = enrollment.student_id 
# inner join course on course.course_id = enrollment.course_id;



# select course_name, semester, COUNT(student.student_id) from student
#  inner join enrollment on student.student_id = enrollment.student_id 
#     inner join course on course.course_id = enrollment.course_id
#  group by course_name, semester;


# -- -------------------------------------------------------------------------------------------------------

# -- Assessment # 2

# -- We have 3 tables relating to insured personal and the vehicles with active coverage.
# -- 
# -- insured: Table provides names of insured and their ids
# -- vehicles: Table contains insured id and vehicles owned and their value. Primary is is vehicle_id
# -- vehicle_confidential: Contains vin numbers for vehicles. Primary key is vehicle_id

# -- ::: Develop a query to display insured name, the most expensive vehicle owned by insured, and that vehicles VIN.

# -- select * from insured;

# -- select * from vehicles;

# -- select * from vehicle_confidential;






# -- -------------------------------------------------------------------------------------------------------
# -- General Questions
 
# -- Question 1: In your experiences, what is the difference between a table and a view?
# -- Question 2: Are you familiar with change data capture?
# -- Question 3: What best practices do you follow when creating data pipelines? (Python, SQL related)


#  -- -------------------------------------------------------------------------------------------------------

In [15]:
list1 = [1,2,3,4,5,6,7,8]

sum_list = 0

for item in list1:
    sum_list += item
    
print(list1[0])

1